@font-face {
    font-family: Assistant;
    src: url("/fonts/Assistant-VariableFont_wght.ttf")   
}

@font-face {
    font-family: Assistant;
    src: url("/fonts/Assistant-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Assistant;
    src: url("/fonts/Assistant-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: GanCLM;
    src: url("../../dumps/Gan\ CLM\ Bold.ttf")
}

@font-face {
    font-family: Dana_Yad;
    src: url("../../dumps/Dana\ Yad\ Alef\ Alef\ Alef\ Normal.ttf")
}
