.addStudentForm{
    /* display: grid; */
    text-align: start;
    margin-top: 2vh;
}


.addStudentForm .inputFields{
    height: 30px;
    margin: 2vh;
    width: 45vw;
    margin-right: 0;
}

.studentClass{
    margin-bottom: 7px;
    width: 43.5vw;
}

.addStudentLabel, .schoolSelection{
    margin-bottom: 2vh;
}

.addClassToStudent{
    margin-bottom: 5vh;
}

#addStudentSchoolSelection{
    margin-top: 2vh;
    width: 46vw;
}