.fieldTitle {
  display: grid;
  margin-top: 2vh;
  font-size: 3vh;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 600;
  color: #043163;
  text-align: start;
}

::placeholder {
  margin: 0px;
  margin-right: 3vw;
  color: #043163;
  font-weight: lighter;
}

.extendedField {
  margin: 0px;
  height: 8vh;
}

.addField {
  margin: 0px;
  color: #043163;
  font-weight: 500;
  font-size: 3vh;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.select {
  width: 50vw;
  padding-bottom: 5vh;
}

.hiddenInput {
  display: none;
  height: 0px;
  margin: 0px;
  width: 0px;
}

.cameraIcon {
  margin: 0px;
  padding: 0px;
  margin-top: 1vh;
}

#addNewField{
  margin-right: 9vw;
}

.fieldSelection{
  display: flex;
  margin-right: 9vw;
  width: 75vw;
  margin-bottom: 1vh;
  align-items: center;

}


#fieldName{
  margin-top: 0;
  padding-top: 0;
  margin-left: 0.5vw;
}

#fieldName .inputFields{
  height: 36px;
  width: 20vw;
  margin: 0;
  padding: 0;
}

#fieldType{
  margin-left: 0.5vw;
  width: 20vw;
}

#fieldData{
  width: 35vw;
}


#fieldData .fieldTitle{
  height: 36px;
}