.goBackFromEditSchool{
    display: inline-block;
    width: 2vw;
    height: 2vh;
    background-image: url('/icons/awesome-arrow-right.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0;
}

.editSchoolPageName{
    margin-right: 1vw;
    color: #043163;
}

.editSchoolClassTeacherButtons{
    display: flex;
}

.editSchoolClassAddExistTeacher{
    padding-left: 3vw;
}