.goBackFromEditSchool{
    display: inline-block;
    width: 2vw;
    height: 2vh;
    background-image: url('/icons/awesome-arrow-right.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0;
}

.editSchoolPageName{
    color: #043163;
    margin-right: 1vw;
}

.editSchoolClassTeacherButtons{
    display: flex;
}

.editSchoolClassAddExistTeacher{
    padding-left: 3vw;
}

.editSchoolAddClass{
    font-weight: bold;
    font-size: 1vw;
    color: white;
    width: 8vw;
    height: 5vh;
    background-color: #043163;
    border-radius: 10px;
    opacity: 1;
    border-color: white;
    border-style: solid;
}

.editSchoolForm{
    display: grid;
    grid-template-columns: 3vw 42vw;
}

.editSchoolNameLable, .editSchoolNameInput, .editSchoolClassesLable, .editSchoolAddClass {
    grid-column-start: 1;
    grid-column-end: 3;
}


.showSchoolClassTeacher{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.editSchoolNameLable, .editSchoolClassesLable, .editSchoolClassTeacherLable {
    text-align: start;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.editSchoolClassTeacherSelect{
    padding-bottom: 1vh;
    font-size: 2vw;
}

.editSchoolNameLable, .editSchoolNameInput, .editSchoolClassesLable, .editSchoolClassTeacherLable, .editSchoolClassesInput, .editSchoolClassTeacherLable{
    height: 5vh;
    padding-right: 1vw;
    font-size: 2vw;
}



.hideClassButton{
    transform: rotate(90deg);
    transition: 0.5s;
}

.showClassButton{
    transition: 0.5s;
}


.hideClassButton , .showClassButton{
    margin-right: 0.5vw;
    margin-top: 2vh;
    width: 2vw;
    height: 2vh;
}

.hideSchoolClassTeacher{
    display: none;
}

.editSchoolClassTeacherButtons .addSomethingNew .addIcon{
    width: 1.2vw;
    height: 1.2vw;
}

.editSchoolClassTeacherButtons .addSomethingNew .addTitle{
    font-size: 1.2vw;
}