.formData {
    margin-right: 9vw;
    width: 45vw;
    color: #043163;
}

.deletButton {
    position: fixed;
    top: 92vh;
    left: 15vw;
    width: 9vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1vw;
    background-color: white;
    color: #043163;
    border-color: white;
    border-style: solid;
}

.saveButton {
    position: fixed;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    top: 92vh;
    left: 5vw;
    width: 8vw;
    height: 5vh;
    background-color: #043163;
    border-radius: 0.5vw;
    opacity: 1;
    border-color: #04306300;
}

.addSomethingNew{
    display: flex;
    align-items: center;
}
.addIcon{
    width: 2vw;
    height: 2vw;
}

.addTitle{
    padding-right: 0.5vw;
    font-size: 2.5vh;
}

.inputFields{
    background: rgba(188, 188, 203, 0.2) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.2;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    padding-right: 3px;
    text-align: right;
    letter-spacing: 0px;
    color: #043163;
    opacity: 1;
}

.error{
    background-color: red;
    color: #ffff;
    margin: 0;
    margin-bottom: 1vh;
    /* text-align: start; */
    width: 18vw;
}