.formData {
    width: 50vw;
    color: #043163;
}

.deletButton {
    position: fixed;
    top: 92vh;
    left: 15vw;
    width: 8vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1vw;
    background-color: white;
    color: #043163;
    border-color: white;
    border-style: solid;
}

.saveButton {
    position: fixed;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    top: 92vh;
    left: 5vw;
    width: 8vw;
    height: 5vh;
    background-color: #043163;
    border-radius: 10px;
    opacity: 1;
}

.addSomethingNew{
    display: flex;
    align-items: center;
}
.addIcon{
    width: 1.5vw;
    height: 1.5vw;
}

.addTitle{
    padding-right: 1vw;
}

.inputFields{
    background: #BCBCCB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.2;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    
    text-align: right;
    letter-spacing: 0px;
    color: #043163;
    opacity: 1;
}
