h2 {
  /*background and border*/
  background: #043163d1 0% 0% no-repeat padding-box;
  border: 2px solid #043163d1 ;
  border-radius: 0px 0px 18px 18px;
  /*positioning*/
  position: absolute;
  top: 10vw;
  margin: 0px;
  width: 21vw;
  height: 3vw;
  opacity: 1;
  z-index: 1;
}

h1 {
  /*text*/
  font: normal normal normal 40px/53px Arial, "Segoefont";
  letter-spacing: 0.52px;
  color: #ffffff;
  padding: 10px 0px;
  font-size: 20px;
  /*positioning*/
  position: absolute;
  z-index: 2;
  width: 21vw;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 8.8vw;
  /* left: 7vw; */
  /* justify-self: self-end; */
}

.gameImg {
  width: 21vw;
  height: 100%;
  opacity: 0.5;
  /* display: flex; */
  border: 2px solid #043163;
  border-radius: 18px;
  object-fit: cover;
  z-index: 0;
}

.imageContainer {
  position: relative;
  width: 21vw;
  height: 13vw;
  border: 0px solid white;
  /* display: inline-block; */
  z-index: 4;
  /* justify-self: center; */
  text-align: center;
  opacity: 1;
}

.grid {
  display: grid;
  height: 30vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
}

.title {
  /* text */
  color: #043163;
  text-align: right;
  font: normal normal bold 40px/53px "Segoe UI", Arial;
  letter-spacing: 0.52px;
  opacity: 1;
  /* positioning */
  position: relative;
  display: block;
  margin: 0px;
  z-index: 9;
}

.optionIcon {
  height: 20px;
  width: 30px;
  opacity: 1;
  z-index: 3;
  position: absolute;
  float: left;
  top: 1vw;
  left: -0.2vw;
}

.gridContainer {
  display: inline-block;
  position: relative;
}