.centeredPage {
  margin: 0vh;
  position: absolute;
  margin-right: 32.5%;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #d1e4fa00;
}

.background {
  background-color: #a2cdffa9;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.webName {
  color: #043163;
  font-family: "Segoe UI";
  margin: 3vh;
  font-size: 8vh;
}

.username {
  color: #043163;
}

.password {
  color: #043163;
}

.input {
  color: #043163;
  border: none;
  margin: 0vh;
  padding: 0vh;
  height: 6vh;
  border-radius: 3vw;
  padding-right: 1.5vw;
  font-size: 2.5vh;
}

.signInButton {
  background-color: #043163;
  color: white;
  margin: 0vh;
  padding: 0vh;
  height: 6vh;
  font-size: 3vh;
  font-weight: bolder;
  border-radius: 3vw;
  border: none;
}

.forgot {
  color: #043163;
  margin: 0vh;
  margin-top: 1vh;
}

.hilmalogo {
  padding-top: 8vh;
  height: 9vh;
}

@media only screen and (max-width: 600px) {
  .centeredPage {
    margin: 0vh;
    position: absolute;
    margin-right: 10%;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #d1e4fa00;
  }
  
  .background {
    background-color: #a2cdffa9;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
  
  .input {
    font-size: 4vh;
  }
  
  .signInButton {
    font-size: 4vh;
    
  }
  
}