@import "./general_style.scss";

.signInBackArrow{
  @include mouse(point);
  position: absolute;
  top: 5vh;
  right: 5vh;
  height: 2vw;
  width: 2vw;
}

.centeredPage {
  margin: 0vh;
  position: absolute;
  margin-right: 32.5%;
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #d1e4fa00;
  align-items: center;
  height: 100vh;
  justify-content: center
}

.splitPage {
  margin: 0vh;
  position: absolute;
  // margin-right: 32.5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #d1e4fa00;
  align-items: center;
  height: 100vh;
  justify-content: space-around
}

.background {
  background-color: #a2cdffa9;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.signInTitle {
  font-weight: 800;
  font-size: 4vh;
}
//!for unused iconpage
// .initialIcons {
//   height: 24vh;
//   width: 24vh;
// }
//!for unused iconpage
// .signInIcons {
//   display: flex;
//   border: 0.3vw dashed #043163;
//   border-radius: 90vh;
//   flex-direction: column;
//   height: 45vh;
//   width: 45vh;
//   align-items: center;
//   justify-content: center;
// }

.webName {
  color: #043163;
  font-family: "Segoe UI";
  top: 2vh;
  position: relative;
  margin-right: 1.8vw;
}

.initial {
  top: -2vh;
}


.middleThirdFlex{
  margin: 0vh;
  // margin-right: 32.5%;
  display: flex;
  width: 50vw;
  flex-direction: row;
  background-color: #d1e4fa00;
  align-items: center;
  height: 22vh;
  justify-content: space-between;
}

//!for unused iconpage
// .superAdminSignIn{
  //   margin: 0vh;
  //   display: flex;
  //   flex-direction: column;
  //   background-color: #d1e4fa00;
  //   align-items: center;
  //   justify-content: space-around
  // }
  // .teachSignIn{
    //   margin: 0vh;
    //   display: flex;
    //   flex-direction: column;
    //   background-color: #d1e4fa00;
    //   align-items: center;
    //   justify-content: space-around
    // }
    
    .teacherGo {
      background-color: #043163;
      color: white;
    }
    
    .superAGo {
      background-color: white;
      color: #043163;
    }
    
    .goButton {
      @include mouse(point);
      margin: 0vh;
      padding: 0vh;
      height: 6vh;
      font-size: 3vh;
      font-weight: bolder;
      border-radius: 3vw;
      border: none;
      width: 30vw;
      margin-bottom: 1vh;
    }
    
    .verticalLine {
      width: 0.5px;
      height: 40vh;
      border: 0.5px solid #043163;
      // border-left: 0.5px solid #043163;
      background-color: #043163;
    }
    
    .username {
      color: #043163;
    }
    
    .password {
      color: #043163;
    }
    
    .input {
      color: #043163;
      border: none;
      margin: 0vh;
      padding: 0vh;
      height: 6vh;
      border-radius: 3vw;
      padding-right: 1.5vw;
      font-size: 2.5vh;
      width: 30vw;
    }
    
    
    
    .signInButton {
      @include mouse(point);
      background-color: #043163;
      color: white;
      margin: 0vh;
      padding: 0vh;
      height: 6vh;
      font-size: 3vh;
      font-weight: bolder;
      border-radius: 3vw;
      border: none;
      width: 30vw;
      margin-bottom: 3vh;
    }
    
    .forgot {
      @include mouse(point);
     text-decoration: underline;
      color: #043163;
      margin: 0vh;
      font-size: 1.25vw;
      margin-top: 1vh;
      padding-bottom: 1vh;
    }
    
    .hilmalogo {
      padding-top: 1vh;
      margin-top: 1vh;
      height: 9vh;
      position: relative;
    }
    
    .initialHilma {
      margin-top: 5vh;
    }

    .smallerFont {
      font-size: 4vh;
    }
@media only screen and (max-width: 600px) {

  .superAGo {
    display: none;
  }
  .signInBackArrow {
    top: 7vh;
    right: 7vh;
    height: 6vw;
    width: 6vw;
}
  
  .background {
    background-color: #a2cdffa9;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  .goButton {
    @include mouse(point);
    margin: 0vh;
    padding: 0vh;
    height: 6vh;
    font-size: 3vh;
    font-weight: bolder;
    border-radius: 3vw;
    border: none;
    width: 75vw;
    margin-bottom: 1vh;
  }

  .initialHilma {
    margin-top: 0px;
  }
  
  .input {
    font-size: 2vh;
    width: 200%;
  }

  .input::placeholder {
    font-size: 2vh;
  }
  
  .signInButton {
    font-size: 3vh;
    margin: 0vh;
    width: 200%;
  }

  .webName {
    position: absolute;
    top: 22vh;
    width: 50vw;
  }
  
  .hilmalogo{
    position: absolute;
    top: 65vh;
    width: 50vw;
  }
  .forgot {
    text-decoration: underline;
     color: #043163;
     margin: 0vh;
     font-size: 3vw;
     margin-top: 1vh;
     padding-bottom: 1vh;
   }
}
