/* div{
    font-family: 'Segoe UI';
} 
זה הפונט שכתוב אבל זה לא נראה כמו הפונט בתמונה
*/

.PageTitles{
    display: flex;
    width: 83vw;
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.PageTitles p{
    font-size: 2vw;
}

.PageTitles p:first-child{
    color: #043163;
    font-weight: bold;
}

.TableTitles{
    display: grid;
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    grid-template-columns: 12.5vw 12.5vw 70vw;

    background: #D9E5F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.item0, .item1, .item2{
    text-align: right;
    padding-right: 2.5vw;
}

.item0 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

.TableTitles p{
    font-size: 1vw;
}

.PageTitles{
    display: flex;
}


.addingButton{
    position: fixed;
    top: 85vh;
    right: 90.75vw;


    display: inline-block;
    background-image: url('/icons/addicon.svg');
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 2vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.search{
    display: flex;
    border: black solid 0.5px;
    box-shadow: 0px 3px 6px #00000029;
    height: 6vh;
}

.search input{
    border: none;
    text-decoration: none;
}

.searchIcon{
    display: inline;
    margin: 0;
    margin-top: 1.2vh;
    margin-left: 0.3vw;

    background-image: url('/icons/search.svg');
    width: 3vw;
    height: 3.4vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}