@import "../general_style.scss";

.smallBackArrow {
  @include mouse(point);
  position: absolute;
  margin-right: 8vw;
  right: 0;
  width: 5vw;
  background-color: #f2f7fc00;
}

.addGameArrow {
  background-color: #f2f7fc;
  position: fixed;
  top: 26vh;
  width: 100%;
  color: #043163;
  padding-right: 4%;
  height: 9vh;
  z-index: 100;
}

.gamesArrowBar {
  background-color: #f2f7fc;
  position: fixed;
  top: 24.75vh;
  width: 100%;
  color: #043163;
  padding-right: 4%;
  height: 25vw;
  z-index: 100;
}

.gamesArrowBarText {
  text-align: center;
  margin-top: 0;
  font-size: 5vw;
  padding-top: 1.5vh;
  width: 70vw;
  margin-right: 11vw;
}

.studentsArrowBar {
  background-color: #f2f7fc;
  position: fixed;
  top: 24.75vh;
  width: 100%;
  font-size: 5vw;
  color: #043163;
  padding-right: 4%;
  height: 13vh;
  z-index: 100;
  justify-items: right;
}

.permissionArrowBar {
  background-color: #f2f7fc;
  position: fixed;
  top: 24.75vh;
  width: 100%;
  font-size: 5vw;
  color: #043163;
  padding-right: 4%;
  height: 5vh;
  z-index: 100;
}
//todo
.pageNameArrowBar {
  display: none;
  // display: inline;
}
.studentsArrowBar {
    display: flex;
  // .pageNameArrowBar {
  //   margin: 0vh;
  //   align-self: center;
  //   margin-right: 12vw;
  //   margin-top: -4vh;
  // }
}

.gamesArrowBar {
    display: flex;
  // .pageNameArrowBar {
  //   margin: 0vh;
  //   align-self: center;
  //   margin-right: 12vw;
  //   margin-top: -4vh;
  // }
}

.pageNameArrowBarStudentInfo{
  margin-top: 1.5vh;
  margin-right: 13vw;
  font-size: 3vh;
  height: 4vh;
  font-weight: 600;
  text-align: right;
}

.studentsInfoArrowBar{
  background-color: #f2f7fc;
  position: fixed;
  top: 24.75vh;
  width: 100%;
  font-size: 5vw;
  color: #043163;
  padding-right: 4%;
  height: 6vh;
  padding-top: 1vh;
  z-index: 100;
  justify-items: right;
}

@media only screen and (min-width: 500px) {
  .smallBackArrow {
    @include mouse(point);
    margin-right: 3.75vw;
    width: 1.65vw;
    height: 3.75vw;
    background-color: rgba(255, 255, 255, 0);
  }

  .gamesArrowBar {
    display: block;
    background-color: #f2f7fc;
    position: fixed;
    top: 12vh;
    right: 25vw;
    width: 75vw;
    padding-right: 0;
    height: 11vw;
    z-index: 99;
  }

  .gamesArrowBarText {
    text-align: start;
    margin-top: 0;
    font-size: 2vw;
    padding-top: 0;
    width: 75vw;
    margin-right: 7vw;
    z-index: 99;
  }

  .pageNameArrowBar {
    font-size: 2.5vw;
    text-align: start;
    display: inline-block;
    font-weight: 700;
    width: 75vw;
    margin-right: 7vw;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 99;
  }

  .studentsArrowBar {
    display: block;
    top: 12vh;
    width: 75vw;
    font-size: 2vw;
    padding-right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
  }

  .studentsInfoArrowBar{
    // background-color: #00000000;
    top: 13vh;
    font-size: 5vw;
    padding-right: 0;
    height: 7vh;
    padding-top: 0;
    z-index: 98;
    justify-items: right;
    width: 75vw;
    left: 0;
  }

  .pageNameArrowBarStudentInfo {
    margin-top: 0;
    margin-right: 7vw;
    font-weight: 700;
    font-size: 2.5vw;
}
}
