@font-face {
  font-family: Gan-CLM;
  src: url(../../Gan\ CLM\ Bold.ttf);
}

.griddler {
  margin-top: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(30vh, auto);
  justify-items: center;
}

.className {
  margin: 0px;
  font-size: 15vw;
  font-family: Gan-CLM;
  letter-spacing: 0px;
  justify-self: center;
}

.circle {
  height: 20vh;
  z-index: -2;
}

.circleCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 90%;
  width: 35vw;
  height: 35vw;
  border: 2px dashed;
}