@import "../../style/fonts/fonts.scss";

.griddler {
  margin-top: 18.9vh;
  padding-top: 11.1vh;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-auto-rows: minmax(40vw, auto);
  justify-content: space-evenly;
  background-color: #F2F7FC;
  height: 70vh;
}

.className {
  margin: 0px;
  font-size: 15vw;
  font-family: GanCLM;
  letter-spacing: 0px;
  justify-self: center;
}

.circleCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 90%;
  width: 35vw;
  height: 35vw;
  border: 2px dashed;
}

.smallSticky {
  position: fixed;
  top: 0;
  width: 100vw;
  margin-bottom: 50vh;
}


@media only screen and (min-width: 600px) {
  .griddler {
    position: absolute;
    width: 75vw;
    left: 0vw;
    grid-template-columns: 15vw 15vw 15vw;
    grid-auto-rows: minmax(17vw, auto);
  }

  .className {
    font-size: 6vw;
  }

  .circleCont {
    width: 15vw;
    height: 15vw;
  }

  .smallSticky {
    position: fixed;
    top: 0;
    width: 100vw;
    margin-bottom: 50vh;
  }
}