@import "../fonts/fonts.scss";

.classGameTitleBackground{
  /* background and border */
  border-radius: 0px 0px 2vw 2vw;
  /*positioning*/
  position: absolute;
  top: 29.5vw;
  margin: 0px;
  width: 100%;
  height: 7.5vw;
  background: #043163d1 0% 0% no-repeat padding-box;
  border: 0.5px solid #043163d1;
}

.classGameTitle {
  /*text*/
  font: normal normal normal 5vw Assistant;
  letter-spacing: 0.52px;
  color: #ffffff;
  padding: 0.5vw 0vw;
  /*positioning*/
  position: absolute;
  width: 100%;
  margin: 0px;
  text-align: center;
  top: 29.5vw;
  font-weight: bolder;
}

.classGameImg {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 2vw;
  object-fit: cover;
  border: 0px solid rgb(255, 255, 255);
}

.gameContainer {
  position: relative;
  width: 40vw;
  height: 37vw;
  border: 0px solid white;
  opacity: 1;
  margin-bottom: 2vh;
  border-radius: 2vw;
  border: 1px solid rgba(4, 49, 99, 0.5);
}

.classGameIconClose{
  position: absolute;
  float: left;
  top: 1vw;
  left: 1vw;
  height: 5vw;
  width: 5vw;
}

.classGameIconAdd{
  position: absolute;
  float: left;
  top: 0vw;
  left: 0vw;
  height: 7vw;
  width: 7vw;
}
.chosenGamesForClass, .listGamesForClass{
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: space-evenly;
}

.gamesChooseDistractions{
  text-align: center;
  width: 92%;
  font-size: 5vw;
  color: #043163;
  margin-bottom: 2vh;
  display: block;
}

.gamesChooseDistractionsText{
  margin-top: 0;
}

.gameListTitle{
  color: #043163;
  font-size: 5vw;
}

.smallAlign {
  margin-top: 33vh;
}