@import "../../style/fonts/fonts.scss";
@import "../general_style.scss";


.classesArrowBarText {
  text-align: center;
  position: fixed;
  margin-top: 0;
  font-size: 5vw;
  top: 18vh;
  padding-top: 2vh;
  // margin-right: 14vw;
  background-color: #F2F7FC;
  width: 100vw;
  height: 8vh;
}

.griddler {
  margin-top: 18vh;
  padding-top: 11.1vh;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-auto-rows: minmax(40vw, 45vw);
  justify-content: space-evenly;
  background-color: #F2F7FC;
  height: 70vh;
  overflow-y: scroll;
}

.className {
  margin: 0px;
  font-size: 15vw;
  font-family: GanCLM;
  letter-spacing: 0px;
  justify-self: center;
}

.circleCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 90%;
  width: 35vw;
  height: 35vw;
  border: 2px dashed;
  @include mouse(point);
}

.smallSticky {
  position: fixed;
  top: 0;
  width: 100vw;
  margin-bottom: 50vh;
}


@media only screen and (min-width: 500px) {
  .griddler {
    position: absolute;
    width: 75vw;
    left: 0vw;
    grid-template-columns: 15vw 15vw 15vw;
    grid-auto-rows: minmax(17vw, 20vw);
  }

  .classesArrowBarText{
    display: none;
  }

  .className {
    font-size: 6vw;
  }

  .circleCont {
    width: 15vw;
    height: 15vw;
  }

  .smallSticky {
    position: fixed;
    top: 0;
    width: 100vw;
    margin-bottom: 50vh;
  }

  .classesArrowBarText {
    text-align: center;
    position: fixed;
    margin-top: 0;
    font-size: 1.5vw;
    top: 20vh;
    padding-top: 1vh;
    margin-right: 30vw;
    z-index: 109;
  }
}