@import "../../style/fonts/fonts.scss";
@import "../general_style.scss";

.mobileBackground {
  background-color: #f2f7fc;
  width: 100vw;
  background-size: cover;
  position: absolute;
  margin-top: 0px;
}

.mobileSaveButtonBackground {
  display: flex;
  padding-right: 70vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.mobileSaveButton {
  @include mouse(point);
  color: white;
  left: 0;
  background-color: rgba(4, 49, 99, 1);
  border: none;
  border-radius: 1vw;
  width: 27vw;
  height: 4vh;
  left: 2px;
  font-size: 5vw;
}

.mobileGap {
  padding-top: 4vh;
}

.mobileGameContainer {
  position: relative;
  width: 33vw;
  height: 30vw;
  border: 0px solid white;
  opacity: 1;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-right: 6vw;
  border-radius: 2vw;
  border: 2px solid rgba(4, 49, 99, 1);
}

.mobileClassGameTitleBackground {
  /* background and border */
  border-radius: 0px 0px 2vw 2vw;
  /*positioning*/
  position: absolute;
  top: 21.5vw;
  margin: 0px;
  width: 100%;
  height: 9vw;
  background: #043163d1 0% 0% no-repeat padding-box;
  border: 0.5px solid #043163d1;
}

.mobileClassGameTitle {
  /*text*/
  font-family: Assistant;
  font-size: 3.2vh;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.52px;
  color: #ffffff;
  padding: 0.5vw 0vw;
  /*positioning*/
  position: absolute;
  width: 100%;
  margin: 0px;
  text-align: center;
  top: 21.5vw;
  font-weight: bolder;
}

.mobileGameDesc {
  background-color: #e7ebef;
  font-family: Assistant;
  font-weight: 600;
  font-size: 3vh;
  box-shadow: 0px 3px 6px #00000029;
  width: 90vw;
  height: 15vh;
  margin-top: 5vh;
  margin-right: 4vw;
  border-radius: 1.5vw;
  //   text
  text-align: right;
  padding-right: 2vw;
  color: #043163;
}

.mobileGameReq {
  background-color: #e7ebef;
  font-weight: 600;
  font-family: Assistant;
  font-size: 3vh;
  box-shadow: 0px 3px 6px #00000029;
  width: 90vw;
  height: 10vh;
  margin-right: 4vw;
  border-radius: 1.5vw;
  //   text
  text-align: right;
  color: #043163;
  padding-right: 2vw;
}

.mobileChangingInput, .mobileChangingInputChoice {
  background-color: #e7ebef;
  font-weight: 600;
  font-size: 3vh;
  font-family: Assistant;
  box-shadow: 0px 3px 6px #00000029;
  width: 86vw;
  height: 5vh;
  margin-right: 5vw;
  margin-bottom: 2vh;
  border: none;
  border-radius: 1.5vw;
  //   text
  text-align: right;
  padding-right: 2vw;
  color: #043163;
}

.mobileGameFields {
  //text
  font-family: Assistant;
  font-weight: 600;
  font-size: 4.5vh;
  text-align: right;
  color: #043163;
  //positioning
  margin: 0px;
  margin-right: 4vw;
  margin-bottom: 4vw;
}

.mobileFieldName {
  //text
  font-family: Assistant;
  font-weight: 600;
  font-size: 3vh;
  text-align: right;
  color: #043163;
  //positioning
  margin: 0px;
  margin-right: 6vw;
  margin-bottom: 3vw;
}

.addGameTitleArrow {
  margin: 0vh;
  text-align: right;
  margin-right: 13vw;
  margin-top: 1.5vh;
  font-size: 4vh;
  font-weight: 600;
}

.mobileGameRP {
  position: absolute;
  margin: 0px;
  margin-right: 6vw;
  margin-top: -9vh;
}

.mobileGameDP {
  position: absolute;
  margin: 0px;
  margin-right: 6vw;
  margin-top: -14vh;
}

.mobileBorderCameraIcon {
  border: 1px solid #043163;
  margin: 0;
  margin-right: 6vw;
  width: 50vw;
  border-radius: 2vw;
  height: 36vw;
  margin-bottom: 1vh;
}

.mobileTeacherImg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2vw;
}



#editGameForClass {
  top: 27vh;
  overflow-y: scroll;
}

.noFields{
  margin-right: 5vw;
}

@media only screen and (min-width: 500px) {
  #editGameForClass {
    top: 19vh;
    height: 75vh;
    padding-top: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mobileBackground {
    width: 75vw;
    padding-right: 7vw;
  }

  .mobileSaveButtonBackground {
    display: flex;
    padding-right: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .mobileSaveButton {
    @include mouse(point);
    color: white;
    background-color: rgba(4, 49, 99, 1);
    border: none;
    border-radius: 0.5vw;
    width: 10vw;
    height: 5vh;
    margin-right: 50vw;
    font-size: 2vw;
  }

  .mobileGap {
    padding-top: 4vh;
  }

  .mobileGameContainer {
    width: 16vw;
    height: 8vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-right: 0;
    border-radius: 2vw;
    border: 1.5px solid rgba(4, 49, 99, 1);
  }

  .mobileClassGameTitleBackground {
    top: 5.5vw;
    height: 2.5vw;
  }

  .mobileClassGameTitle {
    top: 5vw;
    font-weight: 600;
  }

  .mobileGameDesc {
    width: 58vw;
    height: 12vh;
    margin-top: 4vh;
    margin-right: 0;
    border-radius: 0.5vw;
  }

  .mobileGameReq {
    width: 58vw;
    height: 8vh;
    margin-right: 0;
    border-radius: 0.5vw;
  }

  .mobileChangingInput {
    width: 58vw;
    height: 4.5vh;
    margin-right: 0;
    // margin-bottom: 1.5vh;
    border-radius: 0.5vw;
  }

  .mobileChangingInputChoice{
    width: 25vw;
    height: 4.5vh;
    margin-right: 0;
    // margin-bottom: 1.5vh;
    border-radius: 0.25vw;
    // margin-bottom: 1.5vh;
    //   text
    // text-align: right;
    // padding-right: 0;
    // color: #043163;
  }

  .mobileChangingInputGrid{
    width: 58vw;
    display: grid;
    grid-template-columns: 27vw 27vw;
    grid-column-gap: 4vw;
    justify-content: space-between;
  }

  .mobileGameFields {
    //text
    font-size: 3.5vh;
    margin-right: 0;
    margin-bottom: 2vw;
  }

  .mobileFieldName {
    //positioning
    margin-right: 0vw;
    margin-bottom: 1vw;
  }

  .addGameTitleArrow {
    margin: 0vh;
    text-align: right;
    margin-right: 0;
    margin-top: 1.5vh;
    font-size: 4vh;
    font-weight: 600;
  }

  .mobileGameRP {
    margin-right: 2vw;
    margin-top: -7vh;
  }

  .mobileGameDP {
    margin-right: 2vw;
    margin-top: -10.5vh;
  }

  .mobileBorderCameraIcon {
    margin: 0;
    margin-right: 0;
    width: 15vw;
    height: 10vw;
    margin-bottom: 1vh;
  }

  .mobileTeacherImg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2vw;
    @include mouse(point);
  }

  #classGameImgTeacherWeb{
    border-radius: 2vw;
  }

  .noFields{
    margin-right: 0;
  }
  .error{
    @include error-msg-style  }
}