.titleContain {
  position: fixed;
  margin: 0vh;
  top: 9.8vh;
  background-color: #043163;
  color: white;
  width: 100vw;
  height: 9vh;
  z-index: 100;
  font-size: 6vh;
  font-family: Assistant;
  font-weight: 600;
}

.secondTitle {
  position: fixed;
  top: 17.5vh;
  background-color: #043163;
  color: white;
  width: 100vw;
  z-index: 100;
  margin-bottom: 2vh;
  font-size: 6vh;
  height: 9vh;
}

.officialTitle, .officialTitleClass {
  margin: 0vh;
  height: 9vh;
  text-align: center;
  font-weight: 700;
  font-size: 6vh;
}

.officialTitleClassName {
  margin: 0vh;
  height: 9vh;
  text-align: center;
  font-weight: 700;
  font-size: 6vh;
  padding-right: 8px;
}

.officialTitleFlex {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  .titleContain {
    left: 0;
    top: 0;
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0);
    color: #043163;
    width: 70vw;
    height: 17vh;
    /* height: 100vh; */
  }
  .officialTitle {
    text-align: right;
  }
  .officialTitleClassName {
    display: flex;
    position: fixed;
    top: 13vh;
    left: 8vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 90%;
    width: 3vw;
    height: 3vw;
    font-size: 1.5vw;
    border: 1px dashed #043163;
    padding: 0;
    z-index: 101;
    color: #043163;
  }
  .officialTitleClass {
    display: none;
  }
  .officialTitleFlex {
    justify-content: flex-end;
  }

  .secondTitle{
    display: none;
    z-index: 99;
  }
}