.titleContain {
    position: fixed;
  margin: 0vh;
  top: 13.9vh;
  background-color: #043163;
  color: white;
  height: 10vh;
  width: 100vw;
  z-index: 100;
}

.officialTitle {
    margin: 0vh;
    text-align: center;
    font-weight: 600;
    font-size: 6vh;
}

