.smallNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84vw;
  width: 100vw;
  height: 7vh;
  /* margin-right: 8vw; */
  position: fixed;
  top: 23.5vh;
  background-color: #043163;
  z-index: 100;
}

.smallNavName {
  font-weight: 200;
  font-size: 3vh;
  color: white;
}

.smallBackground {
  background-color: #043163;
}

.smallLeftUnderline {
  position: fixed;
  border: 3px solid white;
  top: 29vh;
  width: 30vw;
  margin-right: 70vw;
  z-index: 101;
}

.smallMiddleUnderline {
  position: fixed;
  border: 3px solid white;
  top: 29vh;
  width: 30vw;
  margin-right: 35vw;
  z-index: 101;
}

.smallRightUnderline {
  position: fixed;
  border: 3px solid white;
  top: 29vh;
  width: 30vw;
  margin-right: -0vw;
  margin-bottom: 0;
  z-index: 101;
}
