.smallMenuBar {
    background-color: #043163;
    display: flex;
    height: 14vh;
    justify-content: space-between;
    position: fixed;
    top: 0vh;
    width: 100vw;
    z-index: 101;
  }

  .smallMenu {
    margin: 0px;
    margin-top: 3vh;
    margin-right: 2.5vh;
    height: 4vh;
    width: 4vh;
  }
  
  .smallLogo {
    margin-top: 2vh;
    margin-left: 4vh;
    height: 5vh;
  }