
.studentDeets {
    width: 90vw;
    height: 6vh;
    margin-top: 3vh;
    margin-right: 5vw;
    border-radius: 2vw;
    background-color: #E7EBEF;
    box-shadow: 0px 3px 6px #04316329;
}
.inputBoxes{
    width: 90vw;  
    display: flex;
    flex-direction: column;
    align-self: start;

}
.passchange, .editIcon, .changePasstext{
    cursor:pointer;
}
.passchange{
    display: flex;
    flex-direction: row;
    position: relative;
    width: max-content;
    height:4vh;
    background-color: #E7EBEF;
    border: 2px solid #043163;
    border-radius:2vw ;
    margin-top: 3vh;
    margin-right: 3vh;
    box-shadow: 0px 3px 6px #04316329
}

.savepass{
    margin-left: -5vw;
    background-color:  #043163;
}
.editIcon{
    margin-top: 0.5vh;
    position: 'absolute';
    /* margin-right: 1vw; */
    padding-left: 1vw;
}

.changePasstext{
    color: #043163;
    font-size: 3vh;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 0vh;

}
 .passInput{
    text-align: right;
    font-size: 3.5vh;
    margin: 0px;
    padding-top: 0.75vh;
    color: #043163; 
        }
.approveOrNot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputError {
    color: red;
    position: absolute;
    font-size: '3vh';
    margin: 0px;
    font-weight: lighter;
    margin-right: 7vw;
    margin-top: 1vh;

}
.edit{
    flex-direction: row;
}

.top {
    margin-top: 36vh;
}

.detail {
    font-weight: 600;
    text-align: right;
    font-size: 3.5vh;
    margin: 0px;
    padding-right: 4vw;
    padding-top: 0.5vh;
    color: #043163;
}

.deetBackArrow {
    float: right;
    margin-right: 8vw;
    margin-top: 34vh;
    background-color: #F2F7FC;
}

.smallArrowTitle {
    float: right;
    margin: 0px;
    margin-right: 2.5vw;
    margin-top: 33vh;
    font-weight: 600;
    font-size: 3.5vh;
    color: #043163;
}

#smallAlignStudentList {
    top: 30.75vh;
}

.justForWeb{
    display: none;
}

@media only screen and (min-width: 500px) {
    #smallAlignStudentList {
        height: 73vh;
        margin: 0;
        position: absolute;
        top: 27vh;
        padding-top: 0;
        left: 0;
        overflow-x: hidden;
    }

  .passInput{
    text-align: right;
    font-size: 3.5vh;
    margin: 0px;
    padding-right: 3vh;
    padding-top: 0.75vh;
    color: #043163;     }

    .passchange{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-right: 32vw;
        margin-top: 3vh;
        border-radius: .75vw;
    }
    .savepass{
        margin-left: -2vw;
        background-color:  #043163;
    }
    .inputError {
        color: red;
        position: absolute;
        font-size: '3vh';
        margin: 0px;
        font-weight: lighter;
        margin-right: 33vw;
        margin-top: 1vh;
    }

    .justForWeb{
        display: inline-block;
    }
    .studentDeets {
        width: 60vw;
        height: 6vh;
        margin-top: 3vh;
        margin-right: 32vw;
        border-radius: 0.75vw;
        background-color: #E7EBEF;
        box-shadow: 0px 3px 6px #04316329;
    }
    
   
    .top {
        margin-top: 25vh;
    }

}