@import "../fonts/fonts.scss";
@import "../general_style.scss";

.hiddenInput {
  display: none;
  height: 0px;
  margin: 0px;
  width: 25vw;
}

.cameraIcon {
  margin: 0px;
  padding: 0px;
  width: 5vw;
}

.chosenImg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

.borderCameraIcon{
  border: 1px solid #043163;
  margin: 0;
  width: 25vw;
  border-radius: 2vw;
  height: 16vw;
  margin-bottom: 1vh;
}

.borderCameraIconLabel{
  @include mouse(point);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gameField .gameFieldError{
  margin-right: 9vw;
}

.marginTop {
  margin-top: 2.5vh;
}



// img {
  //   @include imgCover(false);
  // }
  
  