@import "../general_style.scss";
@import '../fonts/fonts.scss';

.saveButtonTAddPopUp {
    @include mouse(point);
    position: absolute;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 45vw;
    margin-left: 5vw;
    width: 16vw;
    height: 5vh;
    cursor: pointer;
    @include blue-button-style;
}

.teacherAddCloseIcon{
    @include mouse(point);
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 5vh;
    right: 4vw;
}