@import "../fonts/fonts.scss";
.hiddenInput {
  display: none;
  height: 0px;
  margin: 0px;
  width: 0px;
}

.cameraIcon {
  margin: 0px;
  padding: 0px;
  width: 5vw;
}

.chosenImg {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
}

.borderCameraIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #043163;
  width: 22vw;
  border-radius: 2vw;
  height: 15vw;
}

.gameField .gameFieldError{
  margin-right: 9vw;
}

.marginTop {
  margin-top: 2.5vh;
}

