.fieldTitle {
  display: grid;
  margin-top: 2vh;
  
  font-size: 3vh;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  color: #043163;
  text-align: start;
}

::placeholder {
  margin: 0px;
  margin-right: 3vw;
  color: #043163;
  font-weight: lighter;
}

.extendedField {
  margin: 0px;
  resize: none;
  height: 70px;
}

.addField {
  margin: 0px;
  color: #043163;
  font-weight: 500;
  font-size: 3vh;
  font-family: 'Assistant', sans-serif;
}

.select {
  width: 50vw;
  padding-bottom: 5vh;
}

.hiddenInput {
  display: none;
  height: 0px;
  margin: 0px;
  width: 0px;
}

.cameraIcon {
  margin: 0px;
  padding: 0px;
  
  width: 5vw;
}

.borderCameraIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #043163;
  width: 22vw;
  border-radius: 2vw;
  height: 15vw;
  
}

#addNewField{
  margin-right: 9vw;
}

.fieldSelection{
  display: flex;
  margin-right: 1vw;
  width: 75vw;
  margin-bottom: 1vh;
}


#fieldName{
  margin-top: 0;
  padding-top: 0;
  margin-left: 0.5vw;
}

#fieldName .inputFields{
  height: 36px;
  width: 20vw;
  margin: 0;
  padding:0;
}

.fieldSelection #fieldType{
  margin-left: 0.5vw;
  width: 20vw;
}

#fieldData{
  width: 35vw;
}


#fieldData .fieldTitle{
  height: 36px;
  margin-top: 0;  
}

.fieldTitle #gameName{
  height: 25px;
}

.gridFieldInputs{
  display: grid;
  width: 30vw;
  justify-content: space-around;
  grid-template-columns: 14.7vw 14.7vw;
}

.gridFieldInputs .inputFields{
  height: 34px;
}

.photoFildSize{
  height: 15.5vw;
}

.selectionsFildSize{
  height: 115px;
  padding-bottom: 2vh;
}

.textFildSize{
  height: 16vw;
}

.fieldSelectionWithClose{
  display: flex;
  margin: 0;
  padding: 0;
}

.removeFieldIcon{
  width: 15px;
  height: 40px;
  margin-right: 5vw;
  margin-left: 0.75vw;
}

.gameField .gameFieldError{
  margin-right: 9vw;
}

.imageWidth {
  width: 22vw;

}

.marginTop {
  margin-top: 2vh;
}