@import "../general_style.scss";

.addingButtonForStudent:hover {
    .addStudentPopUpFlex {
        position: fixed;
        display: flex;
        height: 3.5vw;
        width: 20vw;
        border: 1px solid #043163;
    }
}

.addStudentPopUpFlex {
    position: fixed;
    label, p{
        @include mouse(point);
    }
    font-size: 1.5vw;
    text-align: left;
    background-color: white;
    left:5.6vw;
    transition: width 1s;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-evenly;
    color: #043163;
    align-items: center;
    height: 0;
    position: absolute;
    border-radius: 90vw;
    top: 86.8vh;
    width: 1px;
    padding-left: 2.5vw;
}