.passStudentChange{
    display: flex;
    flex-direction: row;
    position: relative;
    width: max-content;
    height:4vh;
    background-color: #E7EBEF;
    border: 2px solid #043163;
    border-radius:0.75vw ;
    margin-top: 3vh;
    margin-right: 3vh;
    box-shadow: 0px 3px 6px #04316329;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
}