@import "../general_style.scss";

.editSchoolClassTeacherButtons {
  display: flex;
}

.editSchoolClassAddExistTeacher {
  padding-left: 3vw;
}

.editSchoolAddClass {
  @include mouse(point);
  @include blue-button-style;
  width: 10vw;
  margin-top: 1vh;
}

.showSchoolClassTeacher {
  display: grid;
  margin-right: 3.5vw;
}

.editSchoolClassTeacherSelect {
  width: 37.5vw;
}

.hideClassButton {
  transform: rotate(90deg);
  transition: 0.5s;
}

.showClassButton {
  transition: 0.5s;
}

.hideClassButton,
.showClassButton {
  @include mouse(point);
  margin-right: 1vw;
  margin-top: 2vh;
  margin-left: 0.5vw;
  width: 1.5vw;
  height: 3.5vh;
}

.hideSchoolClassTeacher {
  display: none;
}

.TeachersSelect {
  display: flex;
  // align-items: center;
  width: 46vw;
  margin-top: 1vh;
}

.removeTeachersSelectIcon {
  @include mouse(point);
  height: 30px;
  padding-top: 5px;
  width: 1.25vw;
  margin: 0.5vw;
}

.removeClass {
  @include mouse(point);
  width: 1.5vw;
  margin: 0.5vw;
}

.infoNotReadyCont {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.801);
}

.infoNotReady {
  z-index: 39;
  width: 20vw;
  position: absolute;
  margin-left: 26vw;
  margin-right: 30vw;
  margin-top: 30vh;

}
