@import "../general_style.scss";

.excelStudentAddBackground{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 120;
    position: fixed;
    height: 100vh;
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.excelStudentAdd{
    align-items: center;
    background-color: white;
    height: 55vh;
    width: 55vw;
    border-radius: 2vw;
}

.excelStudentAddTitle{
    color: #043163;
    font-size: 2.5vw;
    margin-top: 4vh;
    text-shadow: 1px 1px #00000055;
    text-decoration: underline;
    text-underline-position: under;
}

.excelStudentAddDesc{
    color: #043163;
    font-size: 1.5vw;
}

.excelStudentAddExample{
    display: block;
    margin-right: 2.5vw;
    width: 50vw;
    height: 20vh;
    margin-bottom: 3vh;
}

.excelStudentAddCloseIcon{
    @include mouse(point);
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 25vh;
    right: 25vw;
}