@import "../general_style.scss";
@import '../fonts/fonts.scss';

.formData {
    @include form-container;
    margin-bottom: 5vh;

}

.selectStyle{
    margin: 1vh;
    width: 46vw;
}

.deletButton {
    position: absolute;
    left: 21vw;
    width: max-content;
    height: 5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5vw;
    color: #04313F;
    background-color: white;
    border-color: #043163;
    border-style: solid;
    border-radius: 0.5vw;
}
.deletButtonmargin{
    right: 76vw;
}
.deletButtonTeacher{
    right: 98vw;
}

.saveButtonBackground{
    position: fixed;
    top: 92vh;
    height: 8vh;
    width: 8vw;
    background-color: none;
}
.additionPage {
    margin-right: 90vw;
}

.spacerFromSaveButton{
    height: 9.5vh;  
}

.saveButton {
    @include mouse(point);
    position: fixed;
    font-weight: bold;
    top: 92vh;
    left: 5vw;
    width: 8vw;
    height: 5vh;
    cursor: pointer;
    @include blue-button-style;
}

// .saveButton:active{
//     pointer-events: none;
//   }

.addSomethingNew{
    padding-right: 0.5vw;
    padding-top: 1vh;
    margin: 0;
    width: 11vw;
    margin-bottom: 1vh;
    @include adding-button;
    @include mouse(point);
}
.addIcon{
    width: 1.25vw;
    height: 1.25vw;
}

.addTitle{
    color: #043163;
    padding-right: 0.75vw;
    font-size: 1.5vw;
    margin: 0;
}

.inputFields{
    @include inputs-style;
    margin: 1vh;
    width: 45vw;
}


.editGameId{
    margin: 0vh;
    margin-bottom: 2vh;
    padding-top: 1vh;
    width: 5vw;
    text-align: center;
}

.labelFields{
    @include labels-style;
    font-weight: 600;
    width: 45vw;
}

.error{
    @include error-msg-style;
}

textarea {
    resize: none;
    font-family: Assistant;
    min-height: 6vw;
  }
