@import '../general_style.scss';

.fieldSelection {
    display: grid;
    grid-template-columns: 20vw 12vw 34vw;
    grid-column-gap: 0.75vw;
    margin-bottom: 1vh;
}


.gameFieldSelection {
    display: flex;   
    align-items: flex-start;
    width: 85vw;
    
}

.fieldSelectionInput{
    padding: 0;
    width: 98.75%;
    border: none;
    @include inputs-style;
    
}

.gridFieldInputs{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 16.5vw 16.5vw;
  grid-row-gap: 0.5vw;
}


.cameraFieldBorder{
    @include mouse(point);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #043163;
    width: 18vw;
    border-radius: 2vw;
    height: 12vw;
}

.removeFieldIcon {
    width: 15px;
    height: 2vh;
    margin-left: 0.75vw;
    margin-top: 12px;
}

// #fieldType {
//     @include mouse(point);
// }