@import "../fonts/fonts.scss";
@import "../general_style.scss";

.gameTitleBackground,
.holdGameTitleBackground {
  /* background and border */
  border-radius: 0px 0px 2vw 2vw;
  /*positioning*/
  position: absolute;
  top: 8.5vw;
  margin: 0px;
  width: 20vw;
  height: 3vw;
}

.gameTitleBackground {
  background: #043163d1 0% 0% no-repeat padding-box;
  border: 0.5px solid #043163d1;
}

.holdGameTitleBackground {
  background: rgba(99, 4, 4, 0.82) 0% 0% no-repeat padding-box;
  border: 0.5px solid rgba(112, 112, 112, 1);
}

.gameTitle {
  /*text*/
  font: normal normal normal 2vw Assistant;
  letter-spacing: 0.52px;
  color: #ffffff;
  padding: 0.25vw 0vw;
  /*positioning*/
  position: absolute;
  width: 20.58vw;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 8.5vw;
}

.gameImg {
  width: 20vw;
  height: 100%;
  opacity: 0.5;
  border-radius: 2vw;
  object-fit: 100% 100%;
  border: 0px solid rgb(255, 255, 255);
}

.addImg {
  height: 5vw;
  width: 5vw;
  position: relative;
  top: 2.5vw;
}

.imageContainer {
  position: relative;
  width: 20vw;
  height: 11.5vw;
  border: 0px solid white;
  opacity: 1;
  margin: 2vh;
  border-radius: 2vw;
  border: 1px solid rgba(4, 49, 99, 0.5);
}

.grid {
  z-index: 0;
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  /* text */
  color: #043163;
  text-align: right;
  font: normal normal 3vw Assistant;
  font-weight: 600;
  letter-spacing: 0.52px;
  /* positioning */
  display: inline-block;
  margin: 0px;
  /*alignment*/
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.optionIcon,
.clockIcon {
  position: absolute;
  float: left;
  top: 1vw;
  left: -0.2vw;
}

.optionIcon {
  height: 1.5vw;
  width: 3.5vw;
}

.clockIcon {
  margin-left: 1.5vw;
  height: 1.3vw;
  width: 1.3vw;
}

.searchIcon {
  display: inline-block;
}

#searchbar {
  display: flex;
  margin-right: 2.5vw;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  height: 12vh;
}

#wholepage {
  width: 85vw;
  margin-right: 10vw;
  margin-left: 10vw;
}

.showMoreGamesB{
  @include blue-button-style;
  margin-bottom: 2vh;
}