@import "../general_style.scss";

.menu{
    display: flex;
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    justify-content: space-between;
}

.optionMenu{
    display: flex;
}

.menu .menuBluePages, .appName, .menu p, .logOut a{
    display: block;
    text-decoration: none;
    color: white;
}

.menu .menuBluePages{
    font-size: 3.5vh;
    margin-top: 3.8vh;
    margin-right: 5vw;
}

.menuBluePages{
    @include mouse(point);
}

.appName{
    display: inline-block;
    background-image: url('/icons/CheckIn.svg');
    width: 13vw;
    height: 11vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.optionBold{
    font-weight: 600;
    margin: 0;
}

.logOut{
    display: flex;
    width: 12vw;
    @include mouse(point);
}

.logOut button{
    margin-top: 0.4vw;
    font-size: 1.5vw;
    background-color: #043163;
    color: white;
    border: none;
    box-shadow: none;
    @include mouse(point);
}

.logOut span{
    display: inline-block;
    margin-top: 4.8vh;
    margin-right: 5vw;
    width: 2vw;
    height: 2.4vh;
    background-image: url('/icons/login.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pageMenu{
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 12vh;
    background: #043163 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}