@import "../general_style.scss";

/* .popUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10%;
    height: 8.5vw;
    width: 7.8vw;
    margin: 0px;
    margin-right: 10vw;
    margin-top: 1vw;
    z-index: 80;
} */

.popUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    width: 7.5vw;
    margin: 0px;
    margin-right: 10vw;
    margin-top: 1vw;
    z-index: 80;
    border: 1px solid rgba(61, 87, 109, 0.2);
    box-shadow: 0px 3px 6px #04316329;
}

.listItems {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.popUpOpt {
    margin: 0px;
    color:rgba(0, 79, 143, 0.9);
    font-size: 1vw;
    font-weight: 500;
    text-align: right;
    margin-right: 1vw;
    
}

.divider {
    border: 0.5px solid #f1f1f1;
    width: 80%;
    align-self: center;
}

.optionRow {
    display: flex;
    flex-direction: row;
    @include mouse(point);
}

.popUpIcon {
    height:1.2vw;
    width: 1.2vw;
    margin-right: 0.5vw;
}