@import "../general_style.scss";

/* .popUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10%;
    height: 8.5vw;
    width: 7.8vw;
    margin: 0px;
    margin-right: 10vw;
    margin-top: 1vw;
    z-index: 80;
} */

.popUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 7.8vw;
    margin: 0px;
    margin-right: 10vw;
    margin-top: 1vw;
    z-index: 80;
    border: 1px solid rgb(0, 79, 143);
}

.popUpOpt {
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 200;
    text-align: right;
    margin-right: 1vw;
    
}

.divider {
    border: 0.5px solid #dbdbdb;
    width: 80%;
    margin: 0.5vw;
    align-self: center;
}

.optionRow {
    display: flex;
    flex-direction: row;
    @include mouse(point);
}

.popUpIcon {
    height:1.2vw;
    width: 1.2vw;
    margin-top: 0.3vw;
    margin-right: 0.5vw;
}