#active {
  color: black;
  display: inline;
}

#suspended {
  color: black;
}

.navbar {
  display: flex;
  justify-content: right;
  align-content: center;
  height: 7vh;
  box-shadow: 0px 3px 6px #00000029;
  background-color: white;
}

.pageName {
  display: inline-block;
  margin: 0px;
  margin-left: 6vw;
  margin-right: 6vw;
  font-size: 3vh;
  align-self: center;
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

.sticky {
  z-index: 1000;
  position: fixed;
  top: 12vh;
  height: 7vh;
  width: 100%;
}

.spacer {
  height: 4.5vh;
}

.arrow {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vh;
  background-size: cover;
  background-image: url("/icons/awesome-arrow-right.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 0;
}